@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

body {
    font-family: 'Poppins', sans-serif;
 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
    User-select: none;

}

body {
    margin: 0 auto;


}

.container {
    width: 1440px;
    margin: 0 auto;

}


header {

    background: url(./bg.png);
    width: 1440px;
    height: 889px;
    flex-shrink: 0;
    position: relative;

}

.navbar {
    height: 100px;
    display: flex;
    padding-inline: 120px;
    align-items: center;


}

.download {
    background: var(--yeallow-brand-color, #FC0);
    width: 209px;
    height: 48px;
    flex-shrink: 0;
    color: #FFF;
    margin-left: 54px;
}

.nav {
    display: flex;
    gap: 0 44px;
    list-style-type: none;
    margin-left: auto;
    width: 467px;

}

.nav a {
    text-decoration: none;
    color: #FFF;
    width: 881px;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.logo {
    display: flex;
    justify-content: flex-start;
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;


}

.nav {
    text-decoration: none;
    width: 500px;
}


.ourcategories {
    color: var(--black-font-color, #231900);
    font-family: Poppins;
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    justify-content: center;


}

.partn2 {
    box-sizing: border-box;
}

.violince {
    width: 100%;
    height: 800px;
    flex-shrink: 0;
    background: #ffffff2a;

}

.TOPFOODS {
    color: var(--yeallow-brand-color, #FC0);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    justify-content: center;

}

.card {
    height: 502px;
    width: 277px;
    padding: 0 0 30px;
    flex-shrink: 0;
    display: flex;
    font-size: 24px;
    color: var(--black-font-color, #231900);
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.productcards {
    display: flex;
    width: 1153px;
    height: 502px;
    flex-shrink: 0;
    margin-top: 119px;
    box-sizing: border-box;
}

.imgdesine {
    width: 277px;
    height: 502px;
    flex-shrink: 0;
    ;
}

.info1 {
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header-part {
    width: 806px;
    height: 544px;
    flex-shrink: 0;

}

.info1 {

    color: var(--black-font-color, #231900);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    padding-left: 104px;
    padding-top: 382px;
}

.info2 {
    color: var(--black-font-color, #231900);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    padding-left: 104px;
    padding-top: 382px;
}

.info3 {
    position: absolute;
    padding-left: 104px;
    color: var(--black-font-color, #231900);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 382px;
}

.info4 {
    position: absolute;
    padding-left: 104px;
    color: var(--black-font-color, #231900);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 382px;
}

.restaurant-foods {
    position: absolute;
    color: var(--black-font-color, #231900);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 432px;
    padding-left: 28px;
}



.discount {
    color: #FFF;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 120px;
    margin-top: 77px;
}

.discount-2 {
    position: relative;
    color: var(--white-secondery-color, #FFF);
    font-family: Poppins;
    font-size: 31.948px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 181.039px;
    padding-left: 22.63px;
    padding-top: 102.5px;
}

.AUTHENTIC-PIZZA {
    position: absolute;
    display: flex;
    box-sizing: border-box;
    color: #FFF;
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 120px;
    margin-top: 25px;
}

.information {
    position: absolute;
    color: #FFF;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 26px;
    height: 231px;
    width: 324px;
    margin-left: 354px;
    margin-top: 147px;



}

.procent {
    position: absolute;
    color: var(--white-secondery-color, #FFF);
    font-family: Poppins;
    font-size: 63.896px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 30px;
    margin-left: 45px;

}



.circle {
    position: sticky;
    width: 205px;
    height: 205px;
    flex-shrink: 0;
    background: var(--yeallow-brand-color, #FC0);
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-left: 120px;
    margin-top: 157px;

}

.ORDER-ONLINE {
    background: var(--yeallow-brand-color, #FC0);
    width: 209px;
    height: 48px;
    flex-shrink: 0;
    box-sizing: border-box;
    height: 48px;
    width: 209px;
    color: var(--white-secondery-color, #FFF);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 120px;
    margin-top: 92px;
}

.bottompart {
    display: flex;
    width: 1440px;
    height: 400px;
    flex-shrink: 0;
    background: var(--yeallow-brand-color, #FC0);

}

.box1 {
    display: flex;
    flex-direction: column;
    width: 380px;
    flex-shrink: 0;
    margin-left: 120px;
    display: flex;
    flex-direction: column;
    color: var(--white-secondery-color, #FFF);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;


}

box1 .box2 {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 400px;
    flex-shrink: 0;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    display: flex;
    color: var(--white-secondery-color, #FFF);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}


.box3 {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 400px;
    flex-shrink: 0;
    margin-left: 30px;
    margin-right: 120px;
    flex-direction: column;

    color: var(--white-secondery-color, #FFF);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.shipping {
    padding-top: 42px;
    color: var(--white-secondery-color, #FFF);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.variety {
    padding-top: 42px;
    color: white;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.time {
    padding-top: 42px;
    color: white;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.lorem1 {
    color: var(--white-secondery-color, #FFF);
    text-align: center;
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.lorem2 {
    color: var(--white-secondery-color, #FFF);
    text-align: center;
    font-family: Poppins;
    font-size: 17px;
    font-weight: 600;
    line-height: normal;
}

card2 .lorem3 {
    color: var(--white-secondery-color, #FFF);
    text-align: center;
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.card2 {
    display: flex;
    justify-content: center;
    margin-top: 43px;

}

.outlet-bg {
    width: 1440px;
    height: 820px;
    flex-shrink: 0;
    background: var(--white-semi-white, #F5F5F5);
    box-sizing: border-box;
}

.house-1 {
    position: absolute;
    width: 380px;
    height: 440px;
    flex-shrink: 0;
    padding-top: 213px;
    padding-left: 121px;
}

.house-2 {
    position: absolute;
    width: 380px;
    height: 440px;
    flex-shrink: 0;
    padding-top: 213px;
    padding-left: 530px;
}

.house-3 {
    position: absolute;
    width: 380px;
    height: 440px;
    flex-shrink: 0;
    padding-top: 213px;
    padding-left: 941px;
}

.outlet-near {
    position: absolute;
    padding-top: 106px;
    padding-left: 392px;
    color: var(--black-font-color, #231900);
    text-align: center;
    font-family: Poppins;
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.outlets {
    position: absolute;
    padding-left: 653px;
    padding-top: 76px;
    color: var(--yeallow-brand-color, #FC0);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}



.bottom-text-off-h1 {
    color: var(--black-font-color, #231900);
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 388px;
    padding-top: 33px;
}

.bottom-text-off-h2 {
    color: var(--black-font-color, #231900);
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 388px;
    padding-top: 33px;
}

.bottom-text-off-h3 {
    color: var(--black-font-color, #231900);
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 388px;
    padding-top: 33px;
}

.arrow1 {
    position: relative;
    width: 20.427px;
    height: 32.875px;
    flex-shrink: 0;
    padding-left: 180px;
    padding-top: 20px;



}

.arrow2 {
    position: relative;
    padding-top: 20px;
    width: 20.427px;
    height: 32.875px;
    flex-shrink: 0;
    padding-left: 180px;


}

.arrow3 {
    position: relative;
    padding-left: 180px;
    width: 20.427px;
    height: 32.875px;
    flex-shrink: 0;
    padding-top: 20px;


}

.about-restaurant {
    width: 1440px;
    height: 800px;
    flex-shrink: 0;
    background: var(--white-secondery-color, #FFF);
}

.get-started-today {
    position: absolute;
    color: var(#231900);
    font-family: Poppins;
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 120px;
    margin-top: 134px;
}


.pizza-delivery {
    position: absolute;
    color: var(--yeallow-brand-color, #FC0);
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 128px;
    margin-top: 108px;


}

.middle-type-text {
    position: absolute;
    color: var(--black-font-color, #231900);
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 585px;
    margin-top: 249px;
    margin-left: 120px;


}

.bottom-mini-text2 {
    position: absolute;
    color: #231900;
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 585px;
    margin-left: 120px;
    margin-top: 343px;
    height: 78px;

}

.women-face {
    background: cover no-repeat;
    width: 585px;
    height: 585px;
    flex-shrink: 0;
    margin-top: 108px;
    margin-right: 120px;
    margin-left: 735px;




}

.bottom-box1 {
    box-sizing: border-box;
    position: absolute;

}

.bottom-box2 {
    box-sizing: border-box;
    position: absolute;
}

.money-img {

    width: 100px;
    height: 100px;
    flex-shrink: 0;
    margin-left: 120px;


}

.loyalty-img {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    margin-left: 412px;


}

.food-order {
    color: var(--black-font-color, #231900);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 277px;
    margin-left: 120px;
    position: relative;
}

.info-food-order {
    box-sizing: border-box;
    color: var(--black-font-color, #231900);
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 277px;
    flex-shrink: 0;
    margin-left: 120px;
    margin-bottom: 94px;
    position: relative;
}

.promote {
    position: relative;
    color: var(--black-font-color, #231900);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 277px;
    margin-left: 427px;

}

.promote-info {
    color: var(--black-font-color, #231900);
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 277px;
    height: 71px;
    flex-shrink: 0;
    margin-left: 427px;
    margin-bottom: 94px;
}

.members {
    box-sizing: border-box;
    width: 1440px;
    height: 800px;
    flex-shrink: 0;
    background: #FFF;
}

.team-members {
    position: absolute;
    color: var(--yeallow-brand-color, #FC0);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 654px;
    margin-top: 47px;
}

.meet-our-team {
    box-sizing: border-box;
    color: #000;
    font-family: Poppins;
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 439px;
    padding-top: 77px;

}


.cooking-women1 {
    width: 277px;
    height: 350px;
    flex-shrink: 0;
    background: lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.cooking-women2 {
    width: 277px;
    height: 350px;
    flex-shrink: 0;
    background: lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.cooking-men1 {
    width: 277px;
    height: 350px;
    flex-shrink: 0;
    background: lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.cooking-men2 {
    width: 277px;
    height: 350px;
    flex-shrink: 0;
    background: lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.members-img {
    display: flex;
    justify-content: space-between;
}

.name-women2 {
    color: var(--black-font-color, #231900);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 277px;
}

.name-men2 {
    color: var(--black-font-color, #231900);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 277px;
}

.name-women1 {
    color: var(--black-font-color, #231900);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 277px;
}

.name-men1 {
    color: var(--black-font-color, #231900);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 277px;
}

.clasification-women-1 {
    color: var(--black-font-color, #231900);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 161.701px;
}

.discount-chapter2 {
    box-sizing: border-box;
    width: 1440px;
    height: 734px;
    flex-shrink: 0;
    background: linear-gradient(91deg, #FC0 17.25%, rgba(255, 204, 0, 0.00) 178.38%);
}

.discount-on-firstorder {
    position: absolute;
    color: var(--white-secondery-color, #FFF);
    font-family: Poppins;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 584px;
    margin-left: 121px;
    padding-top: 201px;
}

.onderwtiting-discount {
    position: absolute;
    color: var(--white-secondery-color, #FFF);
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 584px;
    padding-left: 121px;
    padding-top: 316px;
}

.mobile-img {
    padding-left: 735px;
    padding-top: 65px;
}

.app-img1 {
    position: absolute;
    border-radius: 10px;
    background: contain no-repeat;
    width: 176px;
    height: 55px;
    flex-shrink: 0;
    padding-left: 121px;
    padding-bottom: 212px;

}

.app-img2 {
    position: absolute;
    width: 176px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 10px;
    background: contain no-repeat;
    padding-left: 309px;
    padding-bottom: 212px;
}

.company {
    display: flex;
    justify-content: center;
    width: 1440px;
    height: 350px;
    flex-shrink: 0;
    padding-top: 75px;
    padding-left: 120px;

}

.company-logo {
    margin-right: 30px;
    width: 278px;
    height: 200px;
    flex-shrink: 0;
}

.foodmood-ending {

    position: absolute;
    margin-left: 120px;
    color: var(--yeallow-brand-color, #FC0);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 175px;

}

.foodmood-ending-info {
    margin-left: 120px;
    margin-top: 83px;
    color: var(--black-font-color, #231900);
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 380px;

}

.footer {

    display: flex;
    flex-wrap: wrap;
    width: 1440px;
    height: 586px;
    flex-shrink: 0;
    background: var(--white-secondery-color, #FFF);

}

.about-us {
    width: 175px;
    color: var(--black-font-color, #231900);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.our-menu {
    padding-bottom: 47px;
    color: var(--black-font-color, #231900);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 175px;

}

.our-location {
    width: 278px;
    color: var(--black-font-color, #231900);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.first-word {
    padding-bottom: 47px;
}

.column {
    list-style: none;

}

.small {
    margin-left: 82px;
    width: 115.208px;
    color: var(--black-font-color, #231900);
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.middle {

    margin-left: 30px;
    width: 170.625px;
    color: var(--black-font-color, #231900);
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.large {
    margin-left: 81px;
    color: var(--black-font-color, #231900);
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 257px;
}

li {
    color: var(--black-font-color, #231900);
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 13px;
}

.bird {
    position: absolute;
    width: 30px;
    height: 30px;
    transform: rotate(-2.688deg);
    flex-shrink: 0;
    margin-left: 120px;
}

.facebook {
    position: absolute;
    width: 30px;
    height: 30px;
    transform: rotate(-2.688deg);
    flex-shrink: 0;
    margin-left: 201px;

}

.instagram {
    position: absolute;
    width: 30px;
    height: 30px;
    transform: rotate(-2.688deg);
    flex-shrink: 0;
    margin-left: 279px;
}

.mesenger {
    margin-top: 208px;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
}

.copy-right {

    width: 100%;
    margin-top: 187px;
    margin-left: 113px;
    color: var(--black-font-color, #231900);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}