* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;



}

.container {
    width: 1440px;
    margin: 0 auto;

}


header {

    background: url("./Mask\ group.png") 100% / cover;
    width: 1440px;
    height: 889px;
    flex-shrink: 0;
    position: relative;

}

.navbar {
    height: 100px;
    background: #ffffff;

}

.download {
    background: var(--yeallow-brand-color, #FC0);
    width: 209px;
    height: 48px;
    flex-shrink: 0;
    color: #FFF;
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 44px;
    list-style-type: none;
    text-decoration: none;
    color: #FFF;
    width: 881px;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.logo {
    display: flex;
    justify-content: flex-start;
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;


}

.nav {
    text-decoration: none;
    width: 500px;
}


.ourcategories {
    color: var(--black-font-color, #231900);
    font-family: Poppins;
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    justify-content: center;


}

.partn2 {
    box-sizing: border-box;
}

.violince {
    width: 100%;
    height: 800px;
    flex-shrink: 0;
    background: #ffffff2a;

}

.TOPFOODS {
    color: var(--yeallow-brand-color, #FC0);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    justify-content: center;

}

.card {
    width: 277px;
    height: 502px;
    flex-shrink: 0;
    gap: 0 0 30px 0;
    display: flex;
    background: #ff0000;
    margin: 10px;
    font-size: 24px;
    color: var(--black-font-color, #231900);
    font-family: Poppins;
    clip-path: polygon(626px 463px,765px 236px,687px 31px,271px 100px,70px 10px,49px 250px,133px 406px,374px 462px,529px 393px);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.productcards {
    display: flex;
    flex-direction: row;
    width: 1153px;
    height: 502px;
    flex-shrink: 0;
    margin-left: 120px;
    margin-right: 167px;
    margin-top: 119px;
    margin-bottom: 0px;
    box-sizing: border-box;
}

.imgdesine {
    width: 277px;
    height: 502px;
    flex-shrink: 0;
    ;
}

.info1 {
    color: white;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.vector6 {
    width: 806px;
    height: 417px;
    flex-shrink: 0;
    margin: 149px 323px 514.07px 120px;

}

.info2 {
    color: white;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.info3 {
    color: white;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.info4 {
    color: white;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.discount {
    color: #FFF;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.AUTHENTICPIZZA {
    color: #FFF;
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.infik {
    color: #FFF;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    flex-direction: column;
}

.procent {
    color: var(--white-secondery-color, #FFF);
    font-family: Poppins;
    font-size: 63.896px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.discounttext {
    color: var(--white-secondery-color, #FFF);
    font-family: Poppins;
    font-size: 31.948px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.circle {
    width: 205px;
    height: 205px;
    flex-shrink: 0;
    background: var(--yeallow-brand-color, #FC0);
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.ORDERONLINE {
    background: var(--yeallow-brand-color, #FC0);
    color: #FFF;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.bottompart {
    display: flex;
    width: 1440px;
    height: 400px;
    flex-shrink: 0;
    background: var(--yeallow-brand-color, #FC0);

}

.box1 {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 400px;
    flex-shrink: 0;
    margin-left: 120px;
    display: flex;
    flex-direction: column;
    background: #000;

}

.box2 {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 400px;
    flex-shrink: 0;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    background: #000;
    display: flex;

}

.box3 {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 400px;
    flex-shrink: 0;
    margin-left: 30px;
    margin-right: 120px;
    display: flex;
    flex-direction: column;
    background: #000;

}

.shipping {

    color: var(--white-secondery-color, #FFF);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.variety {

    color: var(--white-secondery-color, #FFF);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.time {
    color: var(--white-secondery-color, #FFF);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.lorem1 {
    color: var(--white-secondery-color, #FFF);
    text-align: center;
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.lorem2 {
    color: var(--white-secondery-color, #FFF);
    text-align: center;
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.lorem3 {
    color: var(--white-secondery-color, #FFF);
    text-align: center;
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.card2 {
    display: flex;
    justify-content: center;
    margin-bottom: 242px;
    margin-top: ;
}