@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

body {
    font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0px;

}

body {
    margin: 0 auto;


}

.container {
    width: 1440px;
    margin: 0 auto;

}


header {

    background: url(./bg.png);
    width: 1440px;
    height: 889px;
    flex-shrink: 0;
    position: relative;

}

.navbar {
    height: 100px;
    display: flex;
    padding-inline: 120px;
    align-items: center;


}

.download {
    background: var(--yeallow-brand-color, #FC0);
    width: 209px;
    height: 48px;
    flex-shrink: 0;
    color: #FFF;
    margin-left: 54px;
}

.nav {
    display: flex;
    gap: 0 44px;
    list-style-type: none;
    margin-left: auto;
    width: 467px;

}

.nav a {
    text-decoration: none;
    color: #FFF;
    width: 881px;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.logo {
    display: flex;
    justify-content: flex-start;
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;


}

.nav {
    text-decoration: none;
    width: 500px;
}


.ourcategories {
    color: var(--black-font-color, #231900);
    font-family: Poppins;
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    justify-content: center;


}

.partn2 {
    box-sizing: border-box;
}

.violince {
    width: 100%;
    height: 800px;
    flex-shrink: 0;
    background: #ffffff2a;

}

.TOPFOODS {
    color: var(--yeallow-brand-color, #FC0);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    justify-content: center;

}

.card {
    height: 502px;
    width: 277px;
    padding: 0 0 30px;
    flex-shrink: 0;
    display: flex;
    font-size: 24px;
    color: var(--black-font-color, #231900);
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.productcards {
    display: flex;
    width: 1153px;
    height: 502px;
    flex-shrink: 0;
    margin-top: 119px;
    box-sizing: border-box;
}

.imgdesine {
    width: 277px;
    height: 502px;
    flex-shrink: 0;
    ;
}

.info1 {
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.vector6 {
    width: 806px;
    height: 544px;
    flex-shrink: 0;
    margin: 149px 323px 514.07px 120px;
    box-sizing: border-box;

}

.info2 {
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.info3 {
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

infik .info4 {
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.discount {
    color: #FFF;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.AUTHENTIC-PIZZA {
    display: flex;
    box-sizing: border-box;
    color: #FFF;
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.infik {
    position: absolute;
    color: #FFF;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 354px;

}

.procent {
    color: var(--white-secondery-color, #FFF);
    font-family: Poppins;
    font-size: 63.896px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 30px;
    margin-left: 45px;

}

.discounttext {
    color: var(--white-secondery-color, #FFF);
    font-family: Poppins;
    font-size: 31.948px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0 0 0 20px;

}

.circle {
    width: 205px;
    height: 205px;
    flex-shrink: 0;
    background: var(--yeallow-brand-color, #FC0);
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.ORDERONLINE {
    box-sizing: border-box;
    height: 48px;
    width: 209px;
    padding-top: 105px;
    background: var(--yeallow-brand-color, #FC0);
    color: #FFF;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.bottompart {
    display: flex;
    width: 1440px;
    height: 400px;
    flex-shrink: 0;
    background: var(--yeallow-brand-color, #FC0);

}

.box1 {
    display: flex;
    flex-direction: column;
    width: 380px;
    flex-shrink: 0;
    margin-left: 120px;
    display: flex;
    flex-direction: column;
    color: var(--white-secondery-color, #FFF);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;


}

box1 .box2 {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 400px;
    flex-shrink: 0;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    display: flex;
    color: var(--white-secondery-color, #FFF);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}


.box3 {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 400px;
    flex-shrink: 0;
    margin-left: 30px;
    margin-right: 120px;
    flex-direction: column;

    color: var(--white-secondery-color, #FFF);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.shipping {
    padding-top: 42px;
    color: var(--white-secondery-color, #FFF);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.variety {
    padding-top: 42px;
    color: white;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.time {
    padding-top: 42px;
    color: white;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.lorem1 {
    color: var(--white-secondery-color, #FFF);
    text-align: center;
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.lorem2 {
    color: var(--white-secondery-color, #FFF);
    text-align: center;
    font-family: Poppins;
    font-size: 17px;
    font-weight: 600;
    line-height: normal;
}

card2 .lorem3 {
    color: var(--white-secondery-color, #FFF);
    text-align: center;
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.card2 {
    display: flex;
    justify-content: center;
    margin-top: 43px;

}

.outlet-bg {
    width: 1440px;
    height: 820px;
    flex-shrink: 0;
    background: var(--white-semi-white, #F5F5F5);
    box-sizing: border-box;
}

.house-1 {
    position: absolute;
    width: 380px;
    height: 440px;
    flex-shrink: 0;
    padding-top: 213px;
    padding-left: 121px;
}

.house-2 {
    position: absolute;
    width: 380px;
    height: 440px;
    flex-shrink: 0;
    padding-top: 213px;
    padding-left: 530px;
}

.house-3 {
    position: absolute;
    width: 380px;
    height: 440px;
    flex-shrink: 0;
    padding-top: 213px;
    padding-left: 941px;
}

.outlet-near {
    position: absolute;
    padding-top: 106px;
    padding-left: 392px;
    color: var(--black-font-color, #231900);
    text-align: center;
    font-family: Poppins;
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.outlets {
    position: absolute;
    padding-left: 653px;
    padding-top: 76px;
    color: var(--yeallow-brand-color, #FC0);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}



.bottom-text-off-h1 {
    color: var(--black-font-color, #231900);
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 388px;
}

.bottom-text-off-h2 {
    color: var(--black-font-color, #231900);
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 388px;
}

.bottom-text-off-h3 {
    color: var(--black-font-color, #231900);
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 388px;
}

.arrow1 {
    box-sizing: border-box;
    width: 20.427px;
    height: 32.875px;
    flex-shrink: 0;
    padding-left: 180px;
    padding-top: 20px;



}

.arrow2 {
    padding-top: 20px;
    box-sizing: border-box;
    width: 20.427px;
    height: 32.875px;
    flex-shrink: 0;
    padding-left: 180px;


}

.arrow3 {
    padding-left: 180px;
    box-sizing: border-box;
    width: 20.427px;
    height: 32.875px;
    flex-shrink: 0;
    padding-top: 20px;


}

.about-restaurant {
    width: 1440px;
    height: 800px;
    flex-shrink: 0;
    background: var(--white-secondery-color, #FFF);
}